  $red: #FF5A5F;
  $purple: #914669;
  $green: #008489;
  $Dgray: #484848;
  $gray: #767676;
  $white: #FFFFFF;

  .red {
    color: $red;
  }
  .purple {
    color: $purple;
  }
  .green {
    color: $green;
  }
  .Dgray {
    color: $Dgray;
  }
  .gray {
    color: $gray;
  }